@using Microsoft.JSInterop;
@inject IJSRuntime _js

<div class="wavesurfer-ui-container">
    <div class="wavesurfer-ui-main" id="sel_@mainDivGuid"></div>
    @if(ShowTimeline) {
        <div class="wavesurfer-ui-timeline" id="sel_@timelineDivGuid"></div>
    }
    @if (ShowMinimap)
    {
        <div class="wavesurfer-ui-minimap" id="sel_@minimapDivGuid"></div>
    }
</div>
@if (ShowDefaultToolbar)
{
    <div class="wavesurfer-ui-toolbar d-flex flex-row justify-content-between align-items-center">
        <div class="wavesurfer-ui-toolbar-left">
            <button class="btn btn-primary mr-2" @onclick="() => PlayPause()" aria-label="Play/Pause">@TextPlayPause</button>
        </div>
        <div class="wavesurfer-ui-toolbar-right">
            <div class="d-flex flex-row align-items-center">
                <span class="mr-2">@TextZoom</span>
                <div class="btn-group btn-group-sm" role="group" aria-label="Zoom values">
                    <button type="button" class="btn btn-secondary @(actualZoomLevel == 0 ? "active":"")" @onclick="() => Zoom(0)">@TextDefault</button>
                    <button type="button" class="btn btn-secondary @(actualZoomLevel == 2 ? "active":"")" @onclick="() => Zoom(2)">2x</button>
                    <button type="button" class="btn btn-secondary @(actualZoomLevel == 4 ? "active":"")" @onclick="() => Zoom(4)">4x</button>
                    <button type="button" class="btn btn-secondary @(actualZoomLevel == 8 ? "active":"")" @onclick="() => Zoom(8)">8x</button>
                    <button type="button" class="btn btn-secondary @(actualZoomLevel == 16 ? "active":"")" @onclick="() => Zoom(16)">16x</button>
                    <button type="button" class="btn btn-secondary @(actualZoomLevel == 32 ? "active":"")" @onclick="() => Zoom(32)">32x</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private WavesurferJsInterop? interop;
    private int actualZoomLevel = 0;

    private Guid mainDivGuid;
    private Guid timelineDivGuid;
    private Guid minimapDivGuid;

    [Parameter]
    public EventCallback<float> OnReady { get; set; }
    [Parameter]
    public EventCallback<float> OnAudioProcess { get; set; }
    [Parameter]
    public EventCallback<float> OnSeek { get; set; }
    [Parameter]
    public string? Url { get; set; }
    [Parameter]
    public bool ShowDefaultToolbar { get; set; } = false;
    [Parameter]
    public bool ShowTimeline { get; set; } = true;
    [Parameter]
    public bool ShowMinimap { get; set; } = true;
    [Parameter]
    public string TextPlayPause { get; set; } = "Play/Pause";
    [Parameter]
    public string TextZoom { get; set; } = "Zoom";
    [Parameter]
    public string TextDefault { get; set; } = "Default";

    public async Task Load(string url)
    {
        if (interop != null) await interop.Load(url);
    }

    public async Task PlayPause()
    {
        if (interop != null) await interop.PlayPause();
    }

    public async Task Seek(float seek)
    {
        if (interop != null) await interop.Seek(seek);
    }

    public async Task Zoom(int zoom)
    {
        actualZoomLevel = zoom;
        if (interop != null) await interop.Zoom(zoom);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //starting upon rendering target divs
            if (interop != null)
            {
                await interop.Create(mainDivGuid, timelineDivGuid, minimapDivGuid);

                //preload file if URL supplied
                if (Url != null)
                {
                    await interop.Load(Url);
                }
            }
        }
    }

    protected override void OnInitialized()
    {
        mainDivGuid = Guid.NewGuid();
        timelineDivGuid = Guid.NewGuid();
        minimapDivGuid = Guid.NewGuid();
        interop = new WavesurferJsInterop(_js, DotNetObjectReference.Create<WavesurferPlayer>(this));
    }

    [JSInvokable]
    public async Task OnWavesurferReady(float duration)
    {
        await OnReady.InvokeAsync(duration);
    }

    [JSInvokable]
    public async Task OnWavesurferAudioProcess(float position)
    {
        await OnAudioProcess.InvokeAsync(position);
    }

    [JSInvokable]
    public async Task OnWavesurferSeek(float seekCoef)
    {
        await OnSeek.InvokeAsync(seekCoef);
    }

    public void Dispose()
    {
        
    }
}


